@font-face {
  font-family: 'Houschka Pro';
  src: local("../fonts/HouschkaPro-Medium/Houschka Pro Medium"), local("Houschka-Pro-Medium"), url("../fonts/HouschkaPro-Medium/HouschkaPro-Medium.woff2") format("woff2"), url("../fonts/HouschkaPro-Medium.woff") format("woff"), url("../fonts/HouschkaPro-Medium/HouschkaPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Houschka Pro';
  src: local("../fonts/HouschkaPro-Bold/Houschka Pro Bold"), local("Houschka-Pro-Bold"), url("../fonts/HouschkaPro-Bold/HouschkaPro-Bold.woff2") format("woff2"), url("../fonts/HouschkaPro-Bold/HouschkaPro-Bold.woff") format("woff"), url("../fonts/HouschkaPro-Bold/HouschkaPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 16px;
}

body {
  background-color: #00033a;
  min-width: 320px;
  color: #fff;
  font-family: 'Houschka Pro', sans-serif;
  width: 100%;
  min-height: 100%;
}

body::after {
  /* style for preloading images */
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(../img/main-logo.png) url(../img/small-logo.png);
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fff;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.hide {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
}

:root {
  --min-size: 2px;
  --max-size: 20px;
}

.backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background: #00033a;
  z-index: 100;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dot {
  background: #8dc63f;
  margin: 5px;
  -webkit-animation-name: loader;
          animation-name: loader;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.dot:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.dot:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.dot:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.dot:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.dot:nth-child(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes loader {
  from {
    width: var(--min-size);
    height: var(--min-size);
    border-radius: calc(var(--min-size) / 2);
  }
  to {
    width: var(--max-size);
    height: var(--max-size);
    border-radius: calc(var(--max-size) / 2);
  }
}

@keyframes loader {
  from {
    width: var(--min-size);
    height: var(--min-size);
    border-radius: calc(var(--min-size) / 2);
  }
  to {
    width: var(--max-size);
    height: var(--max-size);
    border-radius: calc(var(--max-size) / 2);
  }
}

.menu-btn {
  display: inline-block;
  width: 22px;
  height: 22px;
  position: relative;
}

.menu-btn span {
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 3px;
  background-color: #fff;
  border-radius: 1px;
}

.menu-btn span::before, .menu-btn span::after {
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 3px;
  background-color: #fff;
  border-radius: 1px;
}

.menu-btn span::before, .menu-btn span::after {
  content: '';
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-btn span::before {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.menu-btn span::after {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.menu-btn_active span {
  height: 0;
}

.menu-btn_active span:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-btn_active span:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.base-btn {
  position: relative;
  display: inline-block;
  padding: 9px 22px;
  border: 3.7px solid #fff;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 18px;
  text-decoration: none;
  border-radius: 10px;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.base-btn:hover {
  border: 3.7px solid #8DC63F;
  text-decoration: none;
  color: #8DC63F;
}

.sec-btn {
  position: relative;
  display: inline-block;
  padding: 6px 16px;
  border: 3.7px solid #00033A;
  color: #00033A;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 18px;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.sec-btn:hover {
  border: 3.7px solid #8DC63F;
  text-decoration: none;
  background: #fff;
  color: #8DC63F;
}

header {
  width: 100%;
  height: 100vh;
  margin: 0 0 100px;
  padding: 0;
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 12px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar_active {
  background: rgba(0, 3, 58, 0.5);
}

.navbar a {
  display: inline-block;
}

.navbar .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .links .menu-btn {
  display: block;
  margin: 15px 12px;
  cursor: pointer;
}

.navbar .links .main-logo {
  display: block;
  margin-right: 15px;
  padding: 0;
  width: 168px;
  content: url(../img/main-logo.png);
  display: block;
}

.navbar .links .main-logo:after {
  width: 168px;
  content: url(../img/main-logo.png);
  display: block;
}

.navbar .links .message, .navbar .links .instagram, .navbar .links .vkontakte {
  display: inline-block;
}

.navbar .links .message .message_icon, .navbar .links .message .instagram_icon, .navbar .links .message .vk_icon, .navbar .links .instagram .message_icon, .navbar .links .instagram .instagram_icon, .navbar .links .instagram .vk_icon, .navbar .links .vkontakte .message_icon, .navbar .links .vkontakte .instagram_icon, .navbar .links .vkontakte .vk_icon {
  display: inline-block;
  width: 22px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}

.navbar .links .message, .navbar .links .instagram {
  margin-right: 15px;
}

.navbar .nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar .nav_active {
  opacity: 1;
}

.navbar .nav li a {
  text-decoration: none;
  font-size: 1rem;
}

.hd-title-sign {
  display: block;
  width: 29vw;
  position: absolute;
  left: 2.4vw;
  bottom: 8vh;
}

.hd-title-sign img {
  position: relative;
  min-width: 100%;
}

.hd-image-bg {
  width: 73vw;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

.small-logo-width, .small-logo-width:after {
  content: url(../img/small-logo.png) !important;
  width: 32px !important;
}

.st-about {
  margin: 0 0 100px;
  padding: 0;
}

.st-about .plate {
  text-align: center;
}

.st-about .plate img {
  max-width: 100%;
}

.st-about .abouttext {
  font-size: 1.13rem;
  line-height: 1.2;
}

.st-about h3 {
  margin: 70px 0;
  font-size: 1.84rem;
  line-height: 1.2;
}

.st-about .advantage-item img {
  max-width: 100%;
}

.st-news {
  margin: 0 0 100px;
  text-align: center;
}

.st-news h2 {
  font-size: 3rem;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

.st-news .base-btn {
  margin: 0;
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
  z-index: 10;
}

.st-news #slider-news {
  margin: 50px 0 100px;
}

.st-news #slider-news .news-item .news-img {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.st-news #slider-news .news-item .news-img .news-descr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: left;
  background: rgba(255, 255, 255, 0.7);
  color: #00033A;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.st-news #slider-news .news-item .news-img .news-descr span {
  display: block;
  position: absolute;
  left: 6%;
  right: 6%;
  bottom: 28%;
  font-size: 1.6rem;
  line-height: 1.1;
  font-weight: bold;
  margin-top: 85px;
  margin-bottom: 10px;
}

.st-news #slider-news .news-item .news-img .news-descr .sec-btn {
  position: absolute;
  left: 6%;
  bottom: 8%;
}

.st-news #slider-news .news-item .date {
  text-align: center;
  margin-top: 15px;
  font-size: 18px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.st-news #slider-news .news-item:hover .news-descr {
  opacity: 1;
}

.st-news #slider-news .news-item:hover .date {
  color: #8dc63f;
}

.st-news #slider-info .info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  height: 66vh;
  background-position: center center;
  background-size: cover;
}

.st-news #slider-info .info-item .info-desc {
  text-align: left;
  display: inline-block;
  max-width: 35%;
  height: 180px;
  position: absolute;
  padding: 30px;
  background: rgba(0, 3, 58, 0.6);
  background-blend-mode: multiply;
}

.st-news #slider-info .info-item .info-desc h4 {
  font-size: 30px;
  line-height: 30px;
  margin: 0 0 10px;
}

.st-news #slider-info .info-item .info-desc p {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.footer {
  padding: 40px 0;
}

.footer .vk-group {
  padding: 0 15px;
}

.footer .footer-nav .bottom-menu {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
}

.footer .footer-nav .bottom-menu li a:hover {
  color: #8dc63f;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer .footer-nav .logo-footer {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-nav .logo-footer span, .footer .footer-nav .logo-footer img {
  margin-right: 20px;
}

.footer .footer-nav .logo-footer a {
  text-decoration: underline;
}

.footer .arrow-up {
  position: relative;
  width: 100%;
  height: 100%;
}

.footer .arrow-up-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 15px;
}

.footer .arrow-up-icon svg {
  fill: #fff;
  position: relative;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer .arrow-up-icon svg:hover {
  fill: #8dc63f;
}

.footer .arrow-up .logo-kalachi {
  text-align: right;
  position: absolute;
  right: 15px;
  bottom: 0;
}

.footer .arrow-up .logo-kalachi img {
  display: block;
  margin-bottom: 4px;
}

.footer .arrow-up .logo-kalachi span {
  display: block;
  font-size: 9px;
}

.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.overlay .popup {
  position: absolute;
  width: 800px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  background: #fff;
  color: #00033a;
  -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
}

.overlay .popup h2 {
  font-size: 3rem;
  margin-bottom: 40px;
}

.overlay .popup .close-popup {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.overlay .popup .close-popup::before, .overlay .popup .close-popup::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 3px;
  background-color: #00033a;
  border-radius: 1px;
}

.overlay .popup .close-popup:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.overlay .popup .close-popup:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.overlay .popup .close-popup:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.overlay .popup .callback {
  display: block;
  position: relative;
}

.overlay .popup .callback .select, .overlay .popup .callback .input {
  display: block;
  width: 100%;
  height: 32px;
  border: none;
  border-bottom: 1px solid #00033a;
  color: #00033a;
  padding: 4px;
  margin-bottom: 10px;
}

.overlay .popup .callback .file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 12px;
  margin: 15px 0 8px;
}

.overlay .popup .callback .file img {
  display: inline-block;
  width: 13.2px;
  height: 22px;
  margin-right: 10px;
}

.overlay .popup .callback .file span {
  display: inline-block;
}

.overlay .popup .callback .textarea {
  display: block;
  border: none;
  border-bottom: 1px solid #00033a;
  color: #00033a;
  width: 100%;
  height: 200px;
}

.overlay .popup .callback button {
  margin-top: 46px;
}

.sec-btn {
  background-color: #fff;
  margin: 0;
}

.send {
  margin-top: 40px;
}

/*==========  Desktop First  ==========*/
/*1200*/
/*992*/
/*768*/
/*480*/
@media (max-width: 480px) {
  .navbar {
    background: rgba(0, 3, 58, 0.5);
  }
  .navbar .links .menu-btn {
    margin-right: 20px;
  }
  .navbar .links .message, .navbar .links .instagram, .navbar .links .vkontakte {
    display: none;
  }
  .hd-image-bg {
    width: 100%;
    height: 85vh;
  }
  .hd-title-sign {
    width: 85%;
    left: 9vw;
    bottom: -15vh;
  }
  .st-about {
    margin-bottom: 50px;
    padding-top: 40px;
  }
  .st-about .abouttext {
    font-size: 0.85rem;
  }
  .st-about h3 {
    font-size: 1.15rem;
  }
  .st-about .col-6 {
    padding-left: 0;
    padding-right: 0;
  }
  .st-about .col-6 .advantage-item {
    margin-top: 30px;
  }
  .st-news {
    margin-bottom: 50px;
  }
  .st-news h2 {
    font-size: 2.2rem;
  }
  .st-news .base-btn {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  .st-news #slider-news {
    margin: 30px 0 50px;
    padding: 0 15px;
  }
  .st-news .owl-nav {
    max-width: 100%;
  }
  .st-news #slider-info .info-item {
    height: 75vh;
  }
  .st-news #slider-info .info-item .info-desc {
    max-width: 75%;
    min-height: 233px;
    padding: 20px;
  }
  .st-news #slider-info .owl-dots .owl-dot span {
    margin: 6px 30px;
  }
  .footer .vk-group {
    margin-bottom: 30px;
  }
  .footer .footer-nav {
    padding-left: 15px;
  }
  .footer .footer-nav .bottom-menu {
    margin: 20px 0;
  }
  .footer .footer-nav .logo-footer {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 0.6rem;
  }
  .footer .footer-nav .logo-footer img {
    margin-bottom: 10px;
  }
  .footer .footer-nav .logo-footer span, .footer .footer-nav .logo-footer img, .footer .footer-nav .logo-footer a {
    display: block;
    margin-right: 0;
  }
  .footer .arrow-up .arrow-up-icon {
    top: 30px;
  }
}

/*320*/
/*# sourceMappingURL=style.css.map */