@font-face {
  font-family: 'Houschka Pro';
  src: local("../fonts/HouschkaPro-Medium/Houschka Pro Medium"), local("Houschka-Pro-Medium"), url("../fonts/HouschkaPro-Medium/HouschkaPro-Medium.woff2") format("woff2"), url("../fonts/HouschkaPro-Medium.woff") format("woff"), url("../fonts/HouschkaPro-Medium/HouschkaPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Houschka Pro';
  src: local("../fonts/HouschkaPro-Bold/Houschka Pro Bold"), local("Houschka-Pro-Bold"), url("../fonts/HouschkaPro-Bold/HouschkaPro-Bold.woff2") format("woff2"), url("../fonts/HouschkaPro-Bold/HouschkaPro-Bold.woff") format("woff"), url("../fonts/HouschkaPro-Bold/HouschkaPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 16px;
}

body {
  background-color: #00033a;
  min-width: 320px;
  color: #fff;
  font-family: 'Houschka Pro', sans-serif;
  width: 100%;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fff;
}

.text-center {
  text-align: center;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background: #00033a;
}

.preloader .pulse {
  position: relative;
  left: 50%;
  top: 50vh;
  margin-top: -50px;
  margin-left: -50px;
}

.preloader .pulse::before, .preloader .pulse::after {
  content: "";
  border: 5px solid #8dc63f;
  width: 100px;
  height: 100px;
  border-radius: 500px;
  position: absolute;
}

.preloader .pulse::before {
  -webkit-animation: pulse-outer .8s ease-in infinite;
          animation: pulse-outer .8s ease-in infinite;
}

.preloader .pulse::after {
  -webkit-animation: pulse-inner .8s linear infinite;
          animation: pulse-inner .8s linear infinite;
}

@-webkit-keyframes pulse-outer {
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  50% {
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

@keyframes pulse-outer {
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  50% {
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

@-webkit-keyframes pulse-inner {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse-inner {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.menu-btn {
  display: inline-block;
  width: 22px;
  height: 22px;
  position: relative;
}

.menu-btn span {
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  left: 50%;
  margin-left: -10px;
  width: 22px;
  height: 3px;
  background-color: #fff;
  border-radius: 1px;
}

.menu-btn span::before, .menu-btn span::after {
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  left: 50%;
  margin-left: -11px;
  width: 22px;
  height: 3px;
  background-color: #fff;
  border-radius: 1px;
}

.menu-btn span::before, .menu-btn span::after {
  content: '';
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-btn span::before {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.menu-btn span::after {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.menu-btn_active span {
  height: 0;
}

.menu-btn_active span:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-btn_active span:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.base-btn {
  position: relative;
  display: inline-block;
  padding: 9px 22px;
  border: 3px solid #fff;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-decoration: none;
  border-radius: 10px;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.base-btn:hover {
  border: 3px solid #8DC63F;
  text-decoration: none;
  color: #8DC63F;
}

.sec-btn {
  position: relative;
  display: inline-block;
  padding: 6px 16px;
  border: 3px solid #00033A;
  color: #00033A;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-decoration: none;
  border-radius: 10px;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.sec-btn:hover {
  border: 3px solid #8DC63F;
  text-decoration: none;
  background-color: #fff;
  color: #8DC63F;
}

header {
  width: 100%;
  height: 100vh;
  margin: 0 0 100px;
  padding: 0;
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 12px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar_active {
  background: rgba(0, 3, 58, 0.5);
}

.navbar a {
  display: inline-block;
  font-size: 24px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}

.navbar .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .links .menu-btn {
  margin-left: 15px;
  cursor: pointer;
}

.navbar .links .main-logo {
  max-width: 170px;
  margin: 0 15px;
}

.navbar .links .main-logo img {
  max-width: 100%;
}

.navbar .links .fa-comment-dots, .navbar .links .fa-instagram {
  margin-right: 15px;
}

.navbar .nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar .nav_active {
  opacity: 1;
}

.navbar .nav li a {
  text-decoration: none;
  font-size: 16px;
}

.hd-title-sign {
  display: block;
  width: 29vw;
  position: absolute;
  left: 2.5vw;
  bottom: 9vh;
}

.hd-image-bg {
  width: 73vw;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../img/header/main_1.jpg) no-repeat;
  background-size: cover;
}

.st-about {
  margin: 0 0 100px;
  padding: 0;
}

.st-about .plate {
  text-align: center;
}

.st-about .plate img {
  max-width: 100%;
}

.st-about .abouttext {
  font-size: 18px;
  line-height: 18px;
}

.st-about h3 {
  margin: 70px 0;
  font-size: 30px;
  line-height: 32px;
}

.st-news {
  margin: 0 0 100px;
  text-align: center;
}

.st-news h2 {
  font-size: 48px;
  line-height: 48px;
  margin: 0 0 40px;
  padding: 0;
}

.st-news .base-btn {
  margin: 0;
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
  z-index: 10;
}

.st-news #slider-news {
  margin: 80px 0 100px;
}

.st-news #slider-news .news-item .news-img {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.st-news #slider-news .news-item .news-img .news-descr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: left;
  background: rgba(255, 255, 255, 0.7);
  color: #00033A;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.st-news #slider-news .news-item .news-img .news-descr span {
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 10px;
}

.st-news #slider-news .news-item .news-img .news-descr .sec-btn {
  position: absolute;
  left: 20px;
  bottom: 26px;
}

.st-news #slider-news .news-item .date {
  text-align: center;
  margin-top: 15px;
  font-size: 18px;
}

.st-news #slider-news .news-item:hover .news-descr {
  opacity: 1;
}

.st-news #slider-info .info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.st-news #slider-info .info-item .info-desc {
  text-align: left;
  display: inline-block;
  max-width: 35%;
  position: absolute;
  padding: 30px;
  background: rgba(0, 3, 58, 0.6);
  background-blend-mode: multiply;
}

.st-news #slider-info .info-item .info-desc h4 {
  font-size: 30px;
  line-height: 30px;
  margin: 0 0 10px;
}

.st-news #slider-info .info-item .info-desc p {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.footer {
  padding: 40px 0;
}

.footer .vk-group {
  padding: 0 15px;
}

.footer .footer-nav .bottom-menu {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
}

.footer .footer-nav .logo-footer {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-nav .logo-footer span, .footer .footer-nav .logo-footer img {
  margin-right: 20px;
}

.footer .footer-nav .logo-footer a {
  text-decoration: underline;
}

.footer .arrow-up {
  position: relative;
  width: 100%;
  height: 100%;
}

.footer .arrow-up-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 15px;
}

.footer .arrow-up-icon svg {
  fill: #fff;
  position: relative;
  cursor: pointer;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.footer .arrow-up-icon svg:hover {
  fill: #8DC63F;
}

.footer .arrow-up .logo-kalachi {
  text-align: right;
  position: absolute;
  right: 15px;
  bottom: 0;
}

.footer .arrow-up .logo-kalachi img {
  display: block;
  margin-bottom: 4px;
}

.footer .arrow-up .logo-kalachi span {
  display: block;
  font-size: 9px;
}
/*# sourceMappingURL=style.css.map */