html
	font-size: 16px

body
	background-color: $body-bg
	min-width: 320px
	color: #fff
	font-family: 'Houschka Pro', sans-serif
	width: 100%
	min-height: 100%

a
	text-decoration: none
	color: #fff
	&:hover
		color: #fff

.text-center
	text-align: center

@mixin opacity($opacity)
	opacity: $opacity / 100
	filter: alpha(opacity=$opacity)

.preloader
	position: fixed
	top: 0
	left: 0
	bottom: 0
	right: 0
	z-index: 100
	background: $body-bg
	.pulse
		position: relative
		left: 50%
		top: 50vh
		margin-top: -50px
		margin-left: -50px
		&::before, &::after
			content: ""
			border: 5px solid $active-color
			width: 100px
			height: 100px
			border-radius: 500px
			position: absolute
		&::before
			animation: pulse-outer .8s ease-in infinite
		&::after
			animation: pulse-inner .8s linear infinite
@keyframes pulse-outer
	0%
		@include opacity(100)
	50%
		@include opacity(50)
	100%
		@include opacity(0)
@keyframes pulse-inner
	0%
		@include opacity(0)
		transform: scale(0)
	100%
		@include opacity(100)
		transform: scale(1)


.menu-btn
	display: inline-block
	width: 22px
	height: 22px
	position: relative
	span
		position: absolute
		top: 50%
		margin-top: -1.5px
		left: 50%
		margin-left: -10px
		width: 22px
		height: 3px
		background-color: #fff
		border-radius: 1px
		&::before, &::after
			position: absolute
			top: 50%
			margin-top: -1.5px
			left: 50%
			margin-left: -11px
			width: 22px
			height: 3px
			background-color: #fff
			border-radius: 1px
		&::before, &::after
			content: ''
			display: block
			transition: 0.3s
		&::before
			transform: translateY(-7px)
		&::after
			transform: translateY(7px)

.menu-btn_active span
	height: 0
	&:before
		transform: rotate(-45deg)
	&:after
		transform: rotate(45deg)


.base-btn
	position: relative
	display: inline-block
	padding: 9px 22px
	border: 3px solid #fff
	color: #fff
	font-size: 18px
	font-weight: bold
	line-height: 18px
	text-decoration: none
	border-radius: 10px
	transition: all .25s
	&:hover
		border: 3px solid #8DC63F
		text-decoration: none
		color: #8DC63F

.sec-btn
	position: relative
	display: inline-block
	padding: 6px 16px
	border: 3px solid #00033A
	color: #00033A
	font-size: 18px
	font-weight: bold
	line-height: 18px
	text-decoration: none
	border-radius: 10px
	transition: all .25s
	&:hover
		border: 3px solid #8DC63F
		text-decoration: none
		background-color: #fff
		color: #8DC63F