.temp
	display: flex
	justify-content: space-between
	text-align: center
	flex-direction: column
	font-size: 23px
	padding: 5vh 0
	width: 100%
	height: 100vh
	.temp-logo
		margin: 0 auto
		display: inline-block
		max-width: 33.33%
	p
		margin: 0 auto
